<html>
    <head>
        <script src="C:\project\angular.min.js"></script>
        <script src="C:\project\node_modules\custom.js"></script>
    </head>
    <body ng-app="myapp"ng-controller="myctrl">
        First number:<input type="text"ng-model="x"/>
        Second number:<input type="text"ng-model="y"/>
        result:<input type="text"ng-model="result">
        <br>
        <input type="button" ng-click="caladd()" value="addition"/><br>
        <br>
        <input type="button" ng-click="calsub()" value="subtraction"/><br>
        <br>
        <input type="button" ng-click="calmul()" value="multiplication"/><br>
        <br>
        <input type="button" ng-click="caldiv()" value="division"/><br>
        
    </body>
</html>