<html>
    <head>
        <script src="C:\project\angular.min.js"></script>
        <script src="C:\project\view\sevice.js"></script>
    </head>
    <body ng-app="myapp"ng-controller="myctrl">
        number:<input type="text"ng-model="x"/>
        result:<input type="text"ng-model="result"><br>
        <br>
        <input type="button" ng-click="calsquare()" value="square"/><br>
        <br>
        <input type="button" ng-click="calcube()" value="cube"/><br>
        <br>
        
        
    </body>
</html>